/* Navbar Styles */
.navbar {
  margin: 0;
  top: 0;
  width: 100%;
  position: fixed;
  background-color: #ffffff;
  padding: 5px 25px;
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar-logo {
  margin-left: 38.2%;
  font-size: 28px;
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-left: 40px;
  cursor: pointer;
}

.nav-links {
  font-size: 24px;
  color: #000000;
  text-decoration: none;
}

@media (max-width: 768px) {
  .navbar-container {
    flex-direction: column;
  }

  .nav-menu {
    flex-direction: column;
    width: 100%;
  }

  .nav-item {
    margin: 10px 0;
  }
}
