/* Navbar Styles */
.navbar {
  margin: 0;
  top: 0;
  width: 90%;
  position: fixed;
  background-color: #ffffff; 
  padding: 5px 25px; 
  z-index: 1;
}

.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar-logo {
  margin-left: 500px;
  font-size: 24px; 
  font-weight: bold;
  color: #000000;
  text-decoration: none;
}

.nav-menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.nav-item {
  margin-right: 20px;
}

.nav-links {
  font-size: 18px;
  color: #000000; 
  text-decoration: none;
}

